<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237109853041-sn3lvd7hvtl9t9rb30u5pb1t887l4anb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237109853041-sn3lvd7hvtl9t9rb30u5pb1t887l4anb</string>
	<key>API_KEY</key>
	<string>AIzaSyCke1_qAFZxYpOv77eGdTxddS7gdFnWkWw</string>
	<key>GCM_SENDER_ID</key>
	<string>237109853041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yellowPaper</string>
	<key>PROJECT_ID</key>
	<string>yellow-c7772</string>
	<key>STORAGE_BUCKET</key>
	<string>yellow-c7772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237109853041:ios:a87ff195b19cc4256f54d0</string>
</dict>
</plist>